<% if multicolumn %>
<div class="columns is-1 is-multiline">
<% end %>
<% books.each do |book| %>
<% if multicolumn %>
<div class="column is-one-third">
   <div class="card main-card mb-5">
      <% else %>
      <div class="card side-card mb-5">
         <%end%>
         <div class="card-content">
            <div class="media">
               <div class="media-left">
                  <figure class="image is-48x48">
                     <img src="<%= book.cover_art %>" />
                  </figure>
               </div>
               <div class="media-content">
                  <p class="title is-4">
                     <% if show_link %>
                     <%= link_to book.title, book %>
                     <% else %>
                     <%= book.title %>
                     <% end %>
                  </p>
                  <p class="subtitle is-6 pb-5"><%= link_to book.author.name, book.author %></p>
               </div>
            </div>
         </div>
         <div class="card-footer">
            <% if book.on_sale %>
            <p class="card-footer-item is-size-6 price-box">
               <span class="mr-1">Price:</span> <span class="mr-1"><del><%= number_to_currency(book.price) %></del></span> <span><strong class="on-sale-text"><%= number_to_currency(book.sale_price) %></strong>
            </p>
            <% else %>
            <p class="card-footer-item is-size-6 price-box">
               Price: <%= number_to_currency(book.price) %>
            </p>
            <% end %>
            <% if session[:shopping_cart][book.id.to_s] %>
            <%= form_with url: cart_path(book), method: :delete do %>
            <%= button_tag '-', {class: "card-footer-item is-size-6 add-to-cart pl-3 pr-3"} %>
            <% end %>
            <div class="pl-3 pr-3 pt-3"><%= session[:shopping_cart][book.id.to_s] %></div>
            <%= form_with url: cart_index_path do %>
            <%= hidden_field_tag(:id, book.id) %>
            <%= button_tag '+', {class: "card-footer-item is-size-6 add-to-cart"} %>
            <% end %>
            <% else %>
            <%= form_with url: cart_index_path do %>
            <%= hidden_field_tag(:id, book.id) %>
            <%= button_tag 'Add to Cart', {class: 'card-footer-item is-size-6 add-to-cart'} %>
            <% end %>
            <% end %>
         </div>
      </div>
      <% if multicolumn %>
   </div>
   <% end %>
   <% end %>
   <% if multicolumn %>
</div>
<% end %>
<div class="columns is-centered mt-5">
   <div class="column is-half has-text-centered">
      <% if pagination %>
      <%= paginate(books) %>
      <% end %>
   </div>
   <% if !pagination %>
      <div class="has-text-right"><%= link_to "...See More", path %></div>
   <% end %>
</div>
<% if pagination %>
   <div class="has-text-right mb-5"><%= link_to "...See More", path %></div>
<% end %>