<% @genres = Genre.all %>
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <%= image_tag ("TTP-Logo.png")%>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a href="/books" class="navbar-item">
                Books
            </a>

            <a href="/authors" class="navbar-item">
                Authors
            </a>

            <a href="/years" class="navbar-item">
                Years
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Genres
                </a>

                <div class="navbar-dropdown">
                    <% @genres.each do |g| %>
                    <a class="navbar-item" href="/genres/<%= g.id %>">
                        <%= g.name %>
                    </a>
                    <% end %>
                </div>
            </div>
        </div>
        <% names = [] %>
        <% @genres.each do |g| %>
        <% names.push g.name %>
        <% end %>
        <div class="navbar-end">
            <div class="navbar-item">
                <%= form_with(url: search_books_path, method: :get, local: true) do |f| %>
                <div class="field">
                    <div class="columns is-gapless">
                        <div class="column is-half"><%= text_field_tag(:keywords, nil, class: "input", placeholder: "Search for Books") %></div>
                        <div class="select"><%= f.select :category, options_for_select(names, params[:category]), { include_blank: 'Genres'} %></div>
                        <div class="column"><%= submit_tag("🔎", class: "button is-primary") %></div>
                    </div>
                </div>
                <% end %>
                <% if session['shopping_cart'] == {} %>
                <a class="button is-primary" href="/cart">
                <% else %>
                <a class="button is-info" href="/cart">
                <% end %>
                <% if session['shopping_cart'].count > 0%>
                <%= session['shopping_cart'].count %>
                <% end %>
                    🛒
                </a>
                <% if customer_signed_in? %>
                <p>Hello, <%= current_customer.first_name %> - <%= link_to "Sign out", destroy_customer_session_path, :method => 'delete' %>
                <% else %>
                <a class="button is-primary" href="/customers/sign_in">
                Sign in
                </a>
                <% end %>
            </div>
        </div>
    </div>
</nav>
